* {
  font-family: "Roboto-Medium", "system-ui", "-apple-system", sans-serif,
    "Inter-SemiBold", "Arial", "ui-sans-serif", "system-ui", "-apple-system";
}
/* Dropdown Button */
.dropdown__trigger-button {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid hsl(0, 1%, 79%);
  border-radius: 1rem;
}

.dropdown__trigger-button:hover,
.dropdown__trigger-button:focus {
  background-color: hsl(244, 70%, 96.1%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content */
.dropdown__panel {
  display: none;
  position: absolute;
  margin-top: 0.5rem;
  min-width: 160px;
  z-index: 1;
  border: 1px solid hsl(0, 1%, 79%);
  border-radius: 1rem;
  box-shadow: 0 10px 16px -8px rgba(28, 28, 28, 0.3);
  background-color: white;
}

/* Links inside the dropdown */
.dropdown__panel__option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown__panel__option:hover {
  background-color: #e6e5e5;
  cursor: pointer;
  border-radius: inherit;
}

.show {
  display: block;
}

.colored {
  background-color: hsl(244, 70%, 96.1%);
  border-radius: 1rem;
}

/* Modal */
.modal__background-panel {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(125, 147, 116, 0.5);
}

.modal__background-panel__foreground-panel {
  border: none;
  border-radius: 1rem;
  background-color: #fefefe;
  box-shadow: 0 10px 16px -8px rgba(28, 28, 28, 0.3);

  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.modal__background-panel__foreground-panel--close-trigger:hover {
  cursor: pointer;
}

.modal__trigger-button{ 
border: none;
  border-radius: 1rem;
  background-color: black;
  padding: 1rem;
  font-weight: 600;
  color: white;
  font-size: 16px;
}

.modal__trigger-button:hover{
  cursor: pointer;
  background-color: hsl(244, 70%, 96.1%);
  background-color: #212020;
}

.modal-panel-header{
  display: flex;
  justify-content: space-between;
}

.modal-panel-header__close-trigger{
  background-color: white;
  border: none;
}

.modal-panel-header__close-trigger:hover{
  cursor: pointer;
  background-color:rgb(226, 224, 224);
  border: none;
  border-radius: 1rem;
}

.modal-panel-header__title{
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}

.modal__background-panel__foreground-panel__text{
  margin-left: 1rem;
  margin-right: 1rem;

}

/* Accordian */
ul {
  list-style-type: none;
  padding: 20px;
}

.accordion {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

li {
  padding: 10px;
}

.open-tab {
  border: 1px solid hsl(0, 0%, 89%);
  border-radius: 1rem;
}

.accordion-container {
  border-radius: 1rem;
  .first-row {
    border-top: 1px solid hsl(0, 0%, 89%);
  }
  .row {
    border-left: 1px solid hsl(0, 0%, 89%);
    border-right: 1px solid hsl(0, 0%, 89%);
    border-bottom: 1px solid hsl(0, 0%, 89%);
    border-radius: 1rem;
  }
  .last-row {
    border-bottom: 1px solid hsl(0, 0%, 89%);
  }
}

/* nav buttons */
.next-button,
.back-button {
  background-color: white;
  border: none;
  font-weight: 600;
  color: #6358de;
  padding: 0 16px;
  font-size: 16px;
  cursor: pointer;
}


/* counter */
.counter__buttons *{ 
  border: 1px solid hsl(0, 1%, 79%);
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  font-weight: 600;
  color: black;
  font-size: 16px;
}
.counter__buttons *:hover{
  cursor: pointer;
  box-shadow: 0 10px 16px -8px rgba(28, 28, 28, 0.3);
  background-color: hsl(244, 70%, 96.1%);

}

.counter__value{
  padding-left: 9rem;
  color: #6358de;
}

